{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
  <div>
    <h3>{{project.title}}</h3>
    <p>{{project.text}}</p>
    <a href="{% url 'create_proposal' project.id %}">Send Proposal |</a>
    <a href="{% url 'project_update' object.id %}"> Update |</a>
    <a href="{% url 'project_delete' object.id %}"> Delete</a>
  </div>
  <div>
  {% if project.proposals.all %}
    <h2>Proposals</h2>
    <hr>
    {% for proposal in project.proposals.all %}
      <h3>{{ proposal.author }} - {{ proposal.date_added }}</h3>
      <p>{{ proposal.body }}</p>
    {% endfor %}
  {% endif %}
    
  </div>

{% endblock content %}